
body {
    font-family: sans-serif;
    margin     : 5em;
    font-size  : 150%;
}

h1 {
    text-align: center;
}

li {
    margin-bottom: 1em;
}

.zentrieren {
    display     : block;
    margin-left : auto;
    margin-right: auto;
}
